.card {
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.text-center {
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 10px;
  margin: 0 auto;
 
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.small-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 5px;
}

.btn-primary {
  display: block;
  margin-top: 20px;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}